[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-rest-framework = "*"
djangorestframework-jwt = "*"
cryptography = "*"
python-jose = "*"
djongo = "*"
psycopg2-binary = "*"
gmusicapi = {editable = true,git = "https://github.com/vtr0n/gmusicapi",ref = "feature/get_device_ids"}
django-cors-headers = "*"
celery = "*"
redis = "*"

[requires]
python_version = "3.7"
